<section class="about-section">
  <div class="container">
    <h2 i18n>{{ getTranslation("welcome-message") }}</h2>
    <p class="intro-text" i18n>
      {{ getTranslation("welcome-content") }}
    </p>
  </div>
  <div class="container">
    <h3 i18n>{{ getTranslation("about-title1") }}</h3>
    <p i18n>
      {{ getTranslation("about-content1") }}
    </p>
  </div>

  <div class="container">
    <h3 i18n>{{ getTranslation("about-title2") }}</h3>
    <ul>
      <li i18n>
        <strong>{{ getTranslation("about-content2-1-strong") }}</strong>
        {{ getTranslation("about-content2-1") }}
      </li>
      <li i18n>
        <strong>{{ getTranslation("about-content2-2-strong") }}</strong>
        {{ getTranslation("about-content2-2") }}
      </li>
      <li i18n>
        <strong>{{ getTranslation("about-content2-3-strong") }}</strong>
        {{ getTranslation("about-content2-3") }}
      </li>
      <li i18n>
        <strong>{{ getTranslation("about-content2-4-strong") }}</strong>
        {{ getTranslation("about-content2-4") }}
      </li>
      <li i18n>
        <strong>{{ getTranslation("about-content2-5-strong") }}</strong>
        {{ getTranslation("about-content2-5") }}
      </li>
    </ul>
  </div>
  <div class="container">
    <h3 i18n>{{ getTranslation("about-title3") }}</h3>
    <p i18n>
      {{ getTranslation("about-content3") }}
    </p>
  </div>
</section>

<app-footer />
