<section class="pricing-section">
  <div class="container">
    <h2 i18n>{{ getTranslation("pricing-title") }}</h2>
    <div class="pricing-card">
      <h3 i18n>{{ getTranslation("standard-lesson") }}</h3>
      <p i18n>{{ getTranslation("lesson-minimum-hour") }}</p>
      <p i18n>{{ getTranslation("lesson-price") }}</p>
      <p i18n>*{{ getTranslation("additional-charge") }}</p>
    </div>
    <div class="container additional-info">
      <h4>{{ getTranslation("additional-info-title") }}:</h4>
      <ul>
        <li>
          {{ getTranslation("pricing-standard-lesson-duration") }}
        </li>
        <li>{{ getTranslation("pricing-lesson-price") }}</li>
        <li>
          {{ getTranslation("pricing-additional-charges") }}
        </li>
        <li>
          {{ getTranslation("pricing-value-your-time") }}
        </li>
      </ul>
    </div>
  </div>
</section>

<app-footer></app-footer>
