<section class="pricing-section">
  <div class="container">
    <h2>Our Pricing</h2>
    <div class="pricing-card">
      <h3>Standard Lesson</h3>
      <p>Duration: 1.5 hours</p>
      <p>Price: $80 CAD</p>
      <p>
        *Additional charges may apply for areas outside our supported region
      </p>
    </div>
    <div class="container additional-info">
      <h4>Additional Information:</h4>
      <ul>
        <li>
          Our standard lesson duration is 1.5 hours to ensure effective
          learning.
        </li>
        <li>Each lesson is priced at $80 CAD.</li>
        <li>
          If you are located outside our supported area, additional charges may
          apply.
        </li>
        <li>
          We value your time and aim to provide efficient and productive
          lessons.
        </li>
      </ul>
    </div>
  </div>
</section>

<app-footer></app-footer>
